.repl_history
build
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
.dat*
vendor/Pods
config.yml

marketing/iPhone4STemplate.psd
vendor/ReorderingTableViewController/build*
profiles
crashes
